<launch>
	<node pkg="Echoes" name="Echoes_main" type="Echoes" cwd="node" output="screen"/>
	<node pkg="Echoes" name="Echoes_debug" type="displaySonar.py" cwd="node" output="screen"/>  
	<node pkg="SpyKee" name="SpyKee_main" type="spykee" cwd="node" output="screen"/>
	<node pkg="Vision" name="Vision_main" type="vision" cwd="node" output="screen"/>
	<node pkg="IsAac"  name="IsAac_main" type="isaac" cwd="node" output="screen"/>
	<node pkg="RoboTower_Game" name="RoboTower_main" type="roboTower" cwd="node" output="screen"/>
</launch>
